CodeTest/CodeTest.Application/obj/
CodeTest/CodeTest.Application/bin/
CodeTest/CodeTest/bin/
CodeTest/CodeTest/obj/
CodeTest/CodeTest.Infrastructure/obj/
CodeTest/CodeTest.Infrastructure/bin/
CodeTest/CodeTest.CodeTest.Tests/obj/
CodeTest/CodeTest.CodeTest.Tests/bin/
CodeTest/.vs/
CodeTest/obj/
